<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 create-new-plan-box">
    <h3>Create You New Plan</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Meal Plan Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Calories Needed</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 current-projects-box">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="col-md-6">
    <div class="cf pa2">
      <!-- Loop to include 9 images -->
      {{#each images as |image|}}
        <div class="fl w-100 w-50-m  w-25-l pa2">
          <img src="/img/lambofcat_2d_vector_drawing_about_Motivation_Behind_Meal_Planne_9960a05b-6ddf-49e8-b546-582ef660f075.png" alt="My Image" class="w-100 br2">
            <img src="/img/lambofcat_2d_vector_drawing_about_Motivation_Behind_Meal_Planne_9960a05b-6ddf-49e8-b546-582ef660f075.png" alt="My Image" class="w-100 br2">
              <img src="/img/lambofcat_2d_vector_drawing_about_Motivation_Behind_Meal_Planne_9960a05b-6ddf-49e8-b546-582ef660f075.png" alt="My Image" class="w-100 br2">
                <img src="/img/lambofcat_2d_vector_drawing_about_Motivation_Behind_Meal_Planne_9960a05b-6ddf-49e8-b546-582ef660f075.png" alt="My Image" class="w-100 br2">
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>
