<div class="project-detail">
    <h2>{{project.name}}</h2>
    <p>{{project.description}}</p>
    <p>Needed Funding: ${{project.needed_funding}}</p>
    <p>Posted by: {{project.User.name}}</p>
</div>
