header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
    background-color: #ece7d0;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  

  .fading-corners {
    border-radius: 15px;
    box-shadow: 0 0 6px 6px rgba(251, 251, 251, 0.851);
  }

  .main-page::before {
    content: "";
    position: absolute;  /* Changed from fixed to absolute */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('../img/front-pagebgimg.jpg');
    background-size: 40%;
    background-position: calc(100% - 50px) calc(0% + 400px);
    background-repeat: no-repeat;
    opacity: 0.6;
    padding: 20px;
    border: 5px solid transparent;
  }

  .main-content {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
  }
  
  .horizontal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    position: relative;
    z-index: 2;  /* Higher than the main content */
  }