header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  a {  /*header text*/
    color:rgba(31, 22, 0, 0.874);
  }
  
  p { /*small text*/
    color:rgba(1, 0, 0, 0.874);
  }
  
  h1, h3, h4, h5, h6 {
    color:#cf0000a6;
  }
  
  h2 {  /*login signup color*/
    color:rgba(31, 22, 0, 0.874);
  }
  